{% extends '../tbase.html' %}
{% block contentarea %}

<div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                    

<link type="text/css" media="print" rel="stylesheet" href="https://cdn.jotfor.ms/css/printForm.css?3.3.21910" />
<link type="text/css" rel="stylesheet" href="https://cdn.jotfor.ms/themes/CSS/5e6b428acc8c4e222d1beb91.css?themeRevisionID=5f6c4d5f89fb4a374f76b581"/>
<link type="text/css" rel="stylesheet" href="https://cdn.jotfor.ms/css/styles/payment/payment_styles.css?3.3.21910" />
<link type="text/css" rel="stylesheet" href="https://cdn.jotfor.ms/css/styles/payment/payment_feature.css?3.3.21910" />
<style type="text/css" id="form-designer-style">

.form-all{
    margin: 20px auto !important;
    max-width: none !important;

}
    /* Injected CSS Code */
.form-label.form-label-auto {
        
        display: inline-block;
        float: left;
        text-align: left;
      
      }
    /* Injected CSS Code */
</style>
      
<form  action='/teacher/updateCourse.html' method="POST" enctype="multipart/form-data">
 {% csrf_token %}
  
  <div role="main" class="form-all">
   {% for cnames in  cname %}     
    <script>
        {% comment %} testing part {% endcomment %}
        </script>
    <ul class="form-section page-section">
      <li id="cid_32" class="form-input-wide" data-type="control_head">
        <div class="form-header-group  header-large">
          <div class="header-text httal htvam">
            <h1 id="header_32" class="form-header" data-component="header">
              Update Course details 
               <label style="float:right;" ><a style="color:black" href="/teacher/deletecourse/{{ cnames.cid }}"><i class="fas fa-trash-alt"></i></a> <label>
            </h1>
            

          </div>
        </div>
      </li>
      {% if messages %}
                        <ul class="messages">
                        {% for message in messages %}
                        <li style="color:green"  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
                        {% endfor %}
                    </ul>
        {% endif %}
     
      <li class="form-line jf-required" data-type="control_textbox" id="id_3">
        <label class="form-label form-label-left form-label-auto" id="label_3" for="input_3">
          Course Id
          <span class="form-required">
            *
          </span>
        </label>
        <div id="cid_3" class="form-input jf-required" data-layout="half">
        <input type="text"  value={{ cnames.cid }} class="form-textbox"  style="width:310px ;    background: lightgrey;" size="310"   aria-labelledby="label_3" id="cidval" hidden name="cidval" > 
         <input type="text"  value={{ cnames.cid }} class="form-textbox"  style="width:310px ;    background: lightgrey;" size="310"   aria-labelledby="label_3" id="cidval1" disabled name="cidval1" > 
          
        </div>
  
      </li>  
      <li class="form-line jf-required" data-type="control_textbox" id="id_3">
        <label class="form-label form-label-left form-label-auto" id="label_3" for="input_3">
          Course Name
          <span class="form-required">
            *
          </span>
        </label>
        <div id="cid_3" class="form-input jf-required" data-layout="half">
          <input type="text" id="courseTitle" name="courseTitle"  class="form-textbox" style="width:310px" size="310"   aria-labelledby="label_3" value='{{ cnames.cname }}' required="" />           
        </div>
  
      </li>      
      <li class="form-line" data-type="control_textarea" id="id_6">
        <label class="form-label form-label-left form-label-auto" id="label_6" for="input_6"> Course description </label>
        <div id="cid_6" class="form-input" data-layout="full">
          <textarea id="courseDescription" class="form-textarea" name="courseDescription" style="width:648px;height:163px" data-component="textarea" aria-labelledby="label_6" >{{ cnames.cinfo }}</textarea>
        </div>
      </li>     
      <li class="form-line" data-type="control_button" id="id_19">
        <div id="cid_19" class="form-input-wide" data-layout="full">
          <div data-align="left" class="form-buttons-wrapper form-buttons-left   jsTest-button-wrapperField">
            <button id="input_19" type="submit" class="form-submit-button submit-button jf-form-buttons jsTest-submitField" data-component="button" data-content="">
            Update Course
            </button>            
          </div>
        </div>
      </li>     
    </ul>
    {% endfor %}
  </div>    
</form>
</div>
</main>
                
            
{% endblock  %}